/* Normal */
@font-face {
  font-family: 'NNNouvelleGrotesk';
  src: url('/font/nn-nouvelle/NNNouvelleGroteskSTD-Normal.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'NNNouvelleGrotesk';
  src: url('/font/nn-nouvelle/NNNouvelleGroteskSTD-Medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'NNNouvelleGrotesk';
  src: url('/font/nn-nouvelle/NNNouvelleGroteskSTD-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'NNNouvelleGrotesk';
  src: url('/font/nn-nouvelle/NNNouvelleGroteskSTD-Light.otf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Thin */
@font-face {
  font-family: 'NNNouvelleGrotesk';
  src: url('/font/nn-nouvelle/NNNouvelleGroteskSTD-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.font-nouvelle {
  font-family: 'NNNouvelleGrotesk', sans-serif !important;
}
